body{}
#topic_bar{
	margin:0;
	padding:0;
	width:25%;
	height:100%;
	background-color:#0032A0;
	position:fixed;
}
ul{
	list-style: none;
}
#topic_bar ul{
	padding-left:0;
	margin-left:0;
	margin-top:40%;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 1rem;
	text-transform: uppercase;
	line-height: 1.5em;
	color: #5f5f69;
}
#topic_bar ul li{
	margin-bottom: 10px;
	padding-left:20px;

}
#topic_bar ul li:hover{
	background-color:#003290;
	
}

#topic_bar ul li a{
	color: #FFFFFF;
	line-height: 1em;
	font-weight: 600;
	font-size: 1rem;
	letter-spacing: 1px;
}

a{
	color:#326295;
	text-decoration: none;
	transition: color 125ms ease-in-out;
}
#main{
	width:75%;
	height:80%;
	margin-left:auto;
	margin-right:0;
	margin-top:auto;
	margin-bottom:0;
	position:float;
}
#main h1{
	margin:auto;
	text-align:center;
}
#calendar_section{
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	overflow:auto;
}

.day{
	border: solid black 2px;
	border-radius:10px;
	margin: 10px;
	padding:10px;
	width: 200px;
}
.day h2{
	font-size: 1rem;
	text-align:center;
}

.resources{
	display:none;
	
}
.day:hover > .resources{
	display:block;
	font-size: 0.8rem;
	text-align:left;
	margin-left:5px;
	padding-left:5px;
}	
#masthead{
	width:100%;
	background-color: #0032A0;
	height:10%;
	margin-top:0;
	z-index: 200;
	position:relative;
	display:block;
}
#mc_logo{
	height:100px;
	padding:5px;
	margin-left:10%;
}
